EJERCICIO 4/WindowsFormsApplication4/WindowsFormsApplication4/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha_nacimiento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambioPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido_materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha_nacimiento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AltaPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BajaPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CambioPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:CambioPersona" />
  </wsdl:message>
  <wsdl:message name="CambioPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:CambioPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="AltaPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:AltaPersona" />
  </wsdl:message>
  <wsdl:message name="AltaPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="BajaPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:BajaPersona" />
  </wsdl:message>
  <wsdl:message name="BajaPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:BajaPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambioPersona">
      <wsdl:input message="tns:CambioPersonaSoapIn" />
      <wsdl:output message="tns:CambioPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaPersona">
      <wsdl:input message="tns:AltaPersonaSoapIn" />
      <wsdl:output message="tns:AltaPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <wsdl:input message="tns:BajaPersonaSoapIn" />
      <wsdl:output message="tns:BajaPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioPersona">
      <soap:operation soapAction="http://tempuri.org/CambioPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPersona">
      <soap:operation soapAction="http://tempuri.org/AltaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <soap:operation soapAction="http://tempuri.org/BajaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioPersona">
      <soap12:operation soapAction="http://tempuri.org/CambioPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaPersona">
      <soap12:operation soapAction="http://tempuri.org/AltaPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaPersona">
      <soap12:operation soapAction="http://tempuri.org/BajaPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:41711/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:41711/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>